<a href="@Url.Action("DETAILS","Index", new { id = Model.MA_DT})">
    <div class="thumbnail product-box" style="height: 170px; width: auto; text-align: center">
        <img src="~/Hinhsp/@Model.HINHANH_DT" alt="" style="height: 160px; width: auto" />
    </div>
</a>

