<li><strong>Số đt: </strong>@Model.SODT_CH</li>
<li><strong>E-mail: </strong>@Model.MAIL_CH</li>
<li class="divider"></li>
<li>
    <a href="@Url.Action("Locate","Index")">
        <strong>Chi tiết</strong>
    </a>
</li>

