.slider{height:350px; overflow:visible}
.bxslider, .bx-viewport, .bx-controls, .bx-pager, .bx-controls-direction{overflow:visible}
.slider_area, .slider{display:block; position:relative; width:100%; margin:0; padding:0;}
.slider *{margin:0; padding:0;}
.slider img{max-width:100%;}
.slider1{width:670px}
.slider2{width:250px}