@model DoAnMonHoc.Models.LOAIPHUKIEN

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xác nhận thông tin loại phụ kiện</h2>

<h3>Bạn có thực sự muốn xóa?</h3>
<div class="col-md-6">
    <hr />
    <table class="table" border="1">
        <tr>
            <td class="col-md-4">
                Tên loại phụ kiện:
            </td>

            <td class="col-md-8">
                @Html.DisplayFor(model => model.TEN_LPK)
            </td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Đồng ý xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "DS_LoaiPhuKien")
        </div>
    }
</div>
